@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
h2 {
    margin: 0;
    text-align: center;
}

/*Entradas y Salidas*/
.popup-sueldo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    z-index: 1000;
    font-size: 14px;
}

.popup-content-sueldo {
    margin: 10% 30%;
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: #000;
    width: 90%; /* Ancho máximo del popup */
    max-width: 600px; /* Ajusta el tamaño máximo */
    height: auto;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: agrega sombra para mejorar el diseño */
}

.button-sueldo {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #2d5a27;
    color: white;
    font-size: 16px; /* Aumenta el tamaño del texto si es necesario */
}


/* Login */
.form-login {
    background-color: #fff; /* Fondo blanco para el formulario */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px; /* Ajusta este valor si necesitas más espacio */
    box-sizing: border-box;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.content-login {
    display: flex;
    position: relative; /* Necesario para el posicionamiento absoluto de los elementos internos */
    overflow: hidden; /* Oculta cualquier desbordamiento de los elementos internos */
}

.imagen-login {
    position: relative;
    flex: 1; /* Permite que el contenedor ocupe el espacio disponible */
    overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
}

.logo-login-swcphk {
    position: relative; /* Necesario para el posicionamiento absoluto de los elementos internos */
    width: 100%; /* Asegura que el contenedor ocupe todo el espacio disponible */
    height: 100%; /* Asegura que el contenedor ocupe todo el espacio disponible */
}

.logo-banner-s {
    position: absolute; /* Posiciona la imagen absolutamente dentro de .logo-login-swcphk */
    top: 45%; /* Ajusta la posición vertical */
    left: 50%; /* Ajusta la posición horizontal */
    transform: translate(-50%, -50%); /* Centra la imagen en relación con el contenedor */
    z-index: 1; /* Asegura que esta imagen esté encima de la imagen de fondo */
    width: 250px;
    max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 50%; /* Hace que las imágenes sean circulares */
}

.image-swcphk-login {
    width: 100%; /* Asegura que la imagen de fondo ocupe todo el contenedor */
    height: 100%; /* Asegura que la imagen cubra el contenedor */
    display: block;
    z-index: 0; /* Asegura que esta imagen esté detrás de la imagen de logo */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin deformarse */
}

.login-swcphk-name {
    position: absolute; /* Posiciona el texto absolutamente dentro de .logo-login-swcphk */
    top: calc(50% + 110px); /* Coloca el texto justo debajo de la imagen del logo */
    left: 45%;
    transform: translateX(-45%); /* Centra el texto horizontalmente */
    text-align: center; /* Centra el texto dentro del contenedor */
    z-index: 2; /* Asegura que el texto esté encima de la imagen de fondo */
    color: white; /* Cambia el color del texto si es necesario para que contraste con la imagen de fondo */
}

.login-swcphk-name p{
    margin: 2px 0; /* Espacio entre las líneas de texto */
}
.nom-log{
    font-size: 2rem;
    font-weight: 700;
}

.datos-login {
    margin: 0px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el contenido */
    width: 100%;
}

.titulo {
    font-family: "Aclonica", sans-serif;
    color: rgb(12, 87, 37);
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center; /* Centra el título */
    width: 100%; /* Asegura que el título ocupe todo el ancho disponible */
}

.datos-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinea los campos y el enlace a la derecha */
    width: 95%;
}

.campo-form {
    width: 100%;
    margin-bottom: 10px; /* Espacio entre campos */
}

.campo-form label {
    color: rgb(12, 87, 37);
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-align: left; /* Alinea las etiquetas a la izquierda */
}

.campo-form input[type="text"],
.campo-form input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Ajustado al 100% para ocupar el ancho del contenedor */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.campo-form .forget-password {
    margin-top: 0px; /* Espacio entre el campo de contraseña y el enlace */
    margin-bottom: 20px; /* Espacio entre el enlace y el botón de envío */
    text-align: right; /* Alinea el enlace a la derecha */
    display: block; /* Asegura que el enlace se comporte como un bloque */
}

.button-login {
    align-items: center;
    padding: 10px;
    text-align: center;
    margin-right: 30px;
    border: none;
    border-radius: 4px;
    background-color: rgb(12, 87, 37);
    color: #fff;
    cursor: pointer;
    width: 80%; /* Ajustado al 100% para ocupar el ancho del contenedor */
    margin-top: 10px; /* Espacio superior entre el botón y el contenido anterior */
}

.button-login:hover {
    background-color: #1AC052FF;
}

/* Barra de navegación */
.mi-nav {
    font-size: 22px;
}
.navbar {
    background-color: #fff;
    border: none;
    margin-bottom: 0%;
}
.navbar-nav .nav-link {
    display: inline-block;
    margin: 10px 20px 0 10px;
    color: #000;
}
.container-fluid {
    display: flex;
    justify-content: flex-end; /* Alinea el contenido al final (end) */
}
.navbar-nav {
    display: flex;
}
.navbar .container-fluid .navbar-nav a {
    font-size: 20px;
    text-align: end;
}
.navbar .container-fluid .navbar-nav .nav-link-entra {
    text-decoration: none;
    font-family: "Aclonica", sans-serif;
    color: #1AC052FF;
}
.navbar .container-fluid .navbar-nav .nav-link-entra:hover {
    padding-bottom: 5px; /* Espacio entre el texto y la línea */
    border-bottom: 2px solid #1AC052FF; /* Ajusta el grosor y el color de la línea */
}

/* Barra */
.barra {
    display: flex;
    overflow: hidden; /* Hace que no se mueva si se minimiza la pantalla */
    align-items: center; /* Alinea verticalmente los elementos dentro de la barra */
    justify-content: space-between; /* Distribuye el espacio sobrante entre los elementos */
    background-image: url(../assets/fondo-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2px; /* Ajusta el espaciado alrededor de los elementos según sea necesario */
}
.logo, .nomhak, .nomuser, .fotoperfil, .logout {
    margin: 5px 10px; /* Ajusta el margen entre los elementos*/
    font-size: 12px;
}
.nomhak {
    margin-right: 45%;
}
.logo img, .fotoperfil img {
    width: 50px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: auto;
    border-radius: 50%; /* Hace que las imágenes sean circulares */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin deformarse */
}
.logout img {
    width: 30px; /* Ajusta el tamaño*/
    height: auto;
    color: #fff;
}
.nomhak h1, .nomhak h2, .nomuser h2 {
    margin: 0; /* Elimina márgenes alrededor de los textos para un mejor ajuste */
    pad: 0;
    color: white;
    font-family: "Aclonica", sans-serif;
}
.nomhak h1, .nomhak h2 {
    font-size: 20px;
    font-weight: 700;
}
.nomuser h2 {
    font-size: 22px;
    font-weight: 700;
}

/* Caja */
.caja {
    width: 100%;
    max-width: 1300px;/* Ajusta el ancho máximo */
    background-color: #adacacad;
    margin: 10px 20px;
    border-color: #575757ad;
    border: 1px solid;
    margin-top: 0%;
    color: #000;
    position: relative;
    padding: 20px 20px;
}
.caja-content{
    width: 100%;
    max-width: 1300px; /* Ajusta el ancho máximo según tus necesidades */
    margin: auto;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: auto; /* Añade barras de desplazamiento si el contenido es mayor que el contenedor */
    background-color: #f9f9f9;
    padding: 10px;
}

.caja h2 {
    text-align: center;
    font-family: "Aclonica", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin: 8px 0 25px;
}

/* Campos de consulta */

.camposconsulta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra el contenido horizontalmente */
    gap: 20px; /* Espacio entre los items */
}
.campo {
    display: flex;
    flex-direction: column;
    align-items: left; /* Opcional: centra el contenido dentro de cada campo */
}
.campo p {
    margin: 0 0 3px;
}

/* Contenedores de envío */
.submit-container, .submit-sueldo {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    color: #fff;
}
.submit-container {
    margin-right: 27%;
    margin-top: 10px;
}
.submit-container input, .submit-sueldo input {
    background: #091108FF;
    opacity: 1;
    border: none;
    border-radius: 2px;
    padding: 3px 1px;
    margin: 5px;
}
.submit-sueldo {
    margin-right: 0;
    margin-top: 5px;
}
.submit-sueldo input {
    padding: 3px 10px;
}

/* Usuario.html */
.createuser .usuario-title {
    display: flex;
    justify-content: left; /* Centra el contenido horizontalmente */
    margin: 0%;
}
.createuser .submit-user {
    background: #091108FF;
    opacity: 1;
    border: none;
    border-radius: 2px;
    margin: 1px;
    padding: 0 5px;
    color: #fff;
    justify-content: right;
    margin-right: 27%;
    margin-top: 8px;
    margin-bottom: 25px;
}
.createuser .form-createu {
    background-color: #fff;
    border-color: #0A4D20FF;
    border-style: solid;
    border-radius: 1px;
    border-width: 1px;
}

/* Formulario Base de datos */
.createuser {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.form-createu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px;
}
.columna-form {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    box-sizing: border-box;
}
.columna-form label, .columna-form input, .columna-form select, .columna-form textarea {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.columna-form .imagen {
    width: 150px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: auto;
    border-radius: 50%; /* Hace que las imágenes sean circulares */
    object-fit: cover;
    align-items: center; /* Centra el contenido verticalmente */
    overflow: hidden; /* Asegura que la imagen no se desborde del contenedor */
    margin-bottom: 10px;
}
.politics {
    width: 40px;
    height: auto;
}

/* Trabajador Inicio */
.tr-base {
    padding: 14%;
}

/* Trabajador entradas y salidas */
.form-entradas {
    background-color: #fff;
    border-color: #0A4D20FF;
    border-style: solid;
    border-radius: 1px;
    border-width: 1px;
    margin-bottom: 5px;
    width: 100%;
    height: auto;
}

/* Popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; /* Cambia display a flex */
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: #000;
    width: 20%;
    height: auto;
}

.time {
    font-size: 24px;
    margin: 20px 0;
}
button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #2d5a27;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #2a4d26;
}


/* Ventana emergente de Usuario existente */
.alert {
    position: flex;
    top: 10px;
    right: 10px;
    z-index: 9999;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    display: none; /* Initially hidden */
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-error {
    background-color: #f8d7da;
    color: #000000;
    border: 1px solid #721c24;
}
