<section class="barra">
    <!--LOGO -->
    <div class="logo">
        <img class="logo-banner" src="../static/assets/Documents-SWCPHK/Imagenes-interfaz/logo-banner.jpg" alt="Logo_hakkunna-matata">
    </div>
    <div class="nomhak">
        <!--Nombre del establecimiento -->
        <h1>Hakkuna Matata</h1>
        <h2>"Un lugar para relajarte"</h2>
    </div>
    <div class="nomuser">
        <!--Nombre de usuario -->
        <h2>{{ session.get('user_name', 'Nombre de Usuario') }}</h2>
    </div>
    <div class="logout">
        <!--Cerrar sesión -->
        <form action="{{ url_for('logout') }}" method="post" style="display: inline;">
            <button type="submit" style="background: none; border: none;">
                <img class="logo-banner" src="../static/assets/logout.png" alt="Logo_hakkunna-matata">
            </button>
        </form>
        
    </div>
</section>