<section class="barra">
    <!--LOGO -->
    <div class="logo">
        <img class="logo-banner" src="../static/assets/logo-banner.jpg" alt="Logo_hakkunna-matata">
    </div>
    <div class="nomhak">
        <!--Nombre del establecimiento -->
        <h1>Hakkuna Matata</h1>
        <h2>"Un lugar para relajarte"</h2>
    </div>
    <div class="nomuser">
        <!--Nombre de usuario -->
        <h2>Raúl Lopez</h2>
    </div>
    <div class="fotoperfil">
        <!--Foto de perfil -->
        <img class="logo-banner" src="../static/assets/Documents-SWCPHK/FotosPerfiles/raul-lopez.jpg" alt="Logo_hakkunna-matata">
    </div>
    <div class="logout">
        <!--Cerrar sesión -->
        <img class="logo-banner" src="../static/assets/logout.png" alt="Logo_hakkunna-matata">
    </div>
</section>