{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    <title>
        {% block title %}
            Sistema Web para Ciber Papelería "Hakkunna Matata"
        {% endblock %}
    </title>
    <link rel="stylesheet" href="/static/style/style.css">
{% endblock %}

{% block body %}

    {% block navbar %}
    {% include 'banner.html' %}
    {% include 'navigation.html' %}
    {% endblock %}

    {% block content %}
    <div class="caja">
        <h2>Entradas y Salidas</h2>
        <form action="/" method="post">
            <div class="camposconsulta">
                <div class="campo">
                    <label for="id_usuario">ID Usuario: </label>
                    <input type="text" id="id_usuario" name="id_usuario" placeholder="MariPereH19Tr" required>
                </div>
                <div class="campo">
                    <label for="e_fechaentrada">Fecha Entrada:</label>
                    <input type="date" id="e_fechaentrada" name="e_fechaentrada" required>
                </div>
                <div class="campo">
                    <label for="e_fechasalida">Fecha Salida:</label>
                    <input type="date" id="e_fechasalida" name="e_fechasalida" required>
                </div>
            </div>
            <div class="submit-container">
                <input type="submit" value="Consultar">
            </div>
        </form>
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th scope="col">ID Usuario</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora de Entrada</th>
                    <th scope="col">Hora de Salida</th>
                </tr>
            </thead>
            <tbody>
                {% for entrada in datos %}
                <tr>
                    <td>{{ entrada[0] }}</td>
                    <td>{{ entrada[1] }}</td>
                    <td>{{ entrada[2] }}</td>
                    <td>{{ entrada[3] }}</td>
                    <td>{{ entrada[4] }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">No se encontraron Usuarios.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Si necesitas un botón para calcular el sueldo, debes incluirlo en un formulario o manejarlo adecuadamente -->
        <div class="submit-sueldo">
            <form action="/calcular_sueldo" method="post">
                <input type="submit" value="Calcular sueldo">
            </form>
        </div>
    </div>
    {% endblock %}

{% endblock %}
