{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <title>Edición de Sueldo Pagado</title>
    <link rel="stylesheet" href="../static/style/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'banner.html' %}
        {% include 'navigation.html' %}
    {% endblock %}

    {% block content %}
        <!-- Mensajes Flash -->
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
        <h2 class="title-sp">Edición de Sueldos Pagados</h2>
        <div class="container-editar-spagado">
            <br><br>
            {% for pagado in datos %}
            <form class="editar-sueldo-pagado" action="{{ url_for('update2_spagado', id_pago=pagado[0]) }}" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="column-s column-s-left">
                        <label for="id_pago">ID Pago: </label>
                        <input type="number" id="id_pago" name="id_pago" value="{{ pagado[0] }}" disabled><br>
                        <label for="id_usuariofok">ID Usuario: </label>
                        <input type="text" id="id_usuariofok" name="id_usuariofok" value="{{ pagado[1] }}" disabled><br>
                        <label for="nombre_usuario">Nombre Usuario: </label>
                        <input type="text" id="nombre_usuario" name="nombre_usuario" value="{{ pagado[2] }}" disabled><br>
                    </div>
                    <div class="column-s column-s-right">
                        <label for="fecha-s">Fecha Entrada:</label>
                        <input type="date" id="fecha-s" name="fecha-s" value="{{ pagado[3] }}" required><br>
                        <label for="monto-s">Monto:</label>
                        <input type="number" id="monto-s" name="monto-s" value="{{ pagado[4] }}" disabled><br>
                    </div>
                </div>
                <button type="submit" class="btn-submit">Actualizar Usuario</button>
                <a href="{{ url_for('spagado') }}">Cancelar</a>
            </form>
            {% endfor %}
        </div>
    {% endblock %}
{% endblock %}
