{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <title>Edición de Usuario</title>
    <link rel="stylesheet" href="../static/style/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'banner.html' %}
        {% include 'navigation.html' %}
    {% endblock %}

    {% block content %}
        <!-- Mensajes Flash -->
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}

        <div class="container-editar-usuario">
            <h2 class="title-sp">Edición de Usuario</h2>
            <form action="{{ url_for('update2_usuario', id_usuario=datos[1]) }}" method="post" enctype="multipart/form-data" class="formulario-user">
                <div class="form-createu">
                    <!-- Primera columna --> 
                    <div class="columna-form">
                        <!-- Imagen de Perfil -->
                        <label for="foto_usuario">Imagen de Perfil:</label>
                        {% if datos[0] %}
                            <img id="profileImage" class="imagen" src="{{ url_for('static', filename='assets/Documents-SWCPHK/FotosPerfiles/' + datos[0]) }}" alt="Imagen de Perfil">
                        {% else %}
                            <img id="profileImage" class="imagen" src="{{ url_for('static', filename='assets/Documents-SWCPHK/FotosPerfiles/foto-admi.jpg') }}" alt="Imagen de Perfil">
                        {% endif %}
                        <input id="foto_usuario" type="file" name="foto_usuario" onchange="previewProfileImage(event)"><br>

                        <label for="id_usuario">ID Usuario:</label>
                        <input type="text" id="id_usuario" name="id_usuario" value="{{ datos[1] }}" required disabled><br>

                        <label for="nomcompleto_usuario">Nombre Completo:</label>
                        <input type="text" id="nomcompleto_usuario" name="nomcompleto_usuario" value="{{ datos[2] }}" required><br>
                        
                        <label for="tipo_usuario">Tipo Usuario:</label>
                        <select name="tipo_usuario" id="tipo_usuario">
                            <option value="Administrador" {% if datos[3] == 'Administrador' %}selected{% endif %}>Administrador</option>
                            <option value="Trabajador" {% if datos[3] == 'Trabajador' %}selected{% endif %}>Trabajador</option>
                        </select><br>
                        
                        <label for="descripcion_usuario">Descripción:</label><br>
                        <textarea name="descripcion_usuario" id="descripcion_usuario" rows="4" cols="30" placeholder="Descripción">{{ datos[4] }}</textarea><br>
                    </div>
                    <!-- Segunda columna -->
                    <div class="columna-form">
                        <label for="edad_usuario">Edad:</label>
                        <input type="number" id="edad_usuario" name="edad_usuario" value="{{ datos[5] }}" required><br>
                        
                        <label for="domicilio_usuario">Domicilio:</label>
                        <input type="text" id="domicilio_usuario" name="domicilio_usuario" value="{{ datos[6] }}" required><br>
                        
                        <label for="numtel_usuario">Número telefónico:</label>
                        <input type="number" id="numtel_usuario" name="numtel_usuario" value="{{ datos[7] }}" required><br>
                        
                        <label for="telemer_usuario">Número emergencia:</label>
                        <input type="number" id="telemer_usuario" name="telemer_usuario" value="{{ datos[8] }}" required><br>
                    </div>
                    
                    <!-- Tercera columna -->
                    <div class="columna-form">
                        <label for="contrasena_usuario">Contraseña:</label>
                        <input type="password" id="contrasena_usuario" name="contrasena_usuario" value="{{ datos[9] }}"><br>

                        <label for="confirmarcontrasena_usuario">Confirmar Contraseña:</label>
                        <input type="password" id="confirmarcontrasena_usuario" name="confirmarcontrasena_usuario" value="{{ datos[10] }}"><br>
                    
                        <label for="horaentrada_usuario">Hora entrada:</label>
                        <input type="time" id="horaentrada_usuario" name="horaentrada_usuario" value="{{ horaentrada }}" required><br>
                        
                        <label for="horasalida_usuario">Hora salida:</label>
                        <input type="time" id="horasalida_usuario" name="horasalida_usuario" value="{{ horasalida }}" required><br>

                    </div>
                    
                    <!-- Cuarta columna -->
                    <div class="columna-form">
                        <label for="pagobase_usuario">Pago base:</label>
                        <input type="text" id="pagobase_usuario" name="pagobase_usuario" value="{{ datos[13] }}" required><br>
                        
                        <label for="pagohora_usuario">Pago hora:</label>
                        <input type="number" id="pagohora_usuario" name="pagohora_usuario" value="{{ datos[14] }}" required><br>
                        
                        <label for="nummedico_usuario">Número seguro médico:</label>
                        <input type="number" id="nummedico_usuario" name="nummedico_usuario" value="{{ datos[15] }}" required><br>
                        
                        <label for="tiposegmedico_usuario">Tipo Seguro Médico:</label>
                        <select name="tiposegmedico_usuario" id="tiposegmedico_usuario">
                            <option value="publico" {% if datos[16] == 'publico' %}selected{% endif %}>Público</option>
                            <option value="privado" {% if datos[16] == 'privado' %}selected{% endif %}>Privado</option>
                        </select><br>
                        
                        <!-- Cartas de Recomendación -->
                        <label for="cartasreco_usuario">Cartas de Recomendación:</label>
                        {% if datos[17] %}
                            <img id="cartasImage" class="imagen" src="{{ url_for('static', filename='assets/Documents-SWCPHK/CartasRecomendacion/' + datos[17]) }}" alt="Imagen de Cartas Recomendación">
                        {% else %}
                            <img id="cartasImage" class="imagen" src="{{ url_for('static', filename='assets/Documents-SWCPHK/CartasRecomendacion/maria-lopez.jpeg') }}" alt="Imagen de Cartas Recomendación">
                        {% endif %}
                        <input id="cartasreco_usuario" type="file" name="cartasreco_usuario" onchange="previewCartasImage(event)"><br>
                    </div>
                    
                </div>
                <button type="submit" class="btn-submit">Actualizar Usuario</button>
            </form>
        </div>
    {% endblock %}
{% endblock %}
