<nav class="navbar navbar-inverse mi-nav" role="navigation">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
          <div class="nav-item">
            <a class="nav-link-entra" href="{{url_for('index')}}">Entradas y Salidas</a>
            <a class="nav-link" href="{{url_for('spagado')}}">Sueldos Pagados</a>
            <a class="nav-link" href="{{url_for('usuario')}}">Usuarios</a>
            <a class="nav-link disabled" href="{{url_for('config')}}">Configuración</a>
          </div>
        </div>
      </div>
    </div>
  </nav>