<nav class="navbar navbar-inverse mi-nav" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('index')}}">Inicio</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
          <div class="nav-item">
            <a class="nav-link active" href="#">Entradas y Salidas</a>
            <a class="nav-link" href="#">Sueldos Pagados</a>
            <a class="nav-link" href="{{url_for('usuario')}}">Usuarios</a>
            <a class="nav-link disabled" href="#">Configuración</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  