{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    <title>
        {% block title %}
            Sistema Web para Ciber Papaleria "Hakkunna Matata"
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/style/style.css">
 <!-- <link rel="stylesheet" href=""> // aqui puedo conectar mi hoja de estilo -->
{% endblock %}

{% block body %}
<!-- bARRA DE NAVEGACIÓN Y MENU -->
    {% block navbar %}
    {% include 'banner.html' %}
    {% include 'navigation.html' %}
    {% endblock %}

    {% block content %}
    <div class="caja">
        <h2>Sueldos Pagados </h2>
        <form action="/sueldospagado" method="post">
            <div class="camposconsulta">
                <div class="campo">
                    <label for="id_pago">ID Pago: </label>
                    <input type="text" id="id_pago" name="id_pago" placeholder="1" required>
                </div>
                <div class="campo">
                    <label for="id_usuario">ID Usuario: </label>
                    <input type="text" id="id_usuario" name="id_usuario" placeholder="MariPereH19Tr" required>
                </div>
                <div class="campo">
                    <label for="e_fechaentrada">Fecha Entrada:</label>
                    <input type="date" id="e_fechaentrada" name="e_fechaentrada" required>
                </div>
                <div class="campo">
                    <label for="e_fechasalida">Fecha Salida:</label>
                    <input type="date" id="e_fechasalida" name="e_fechasalida" required>
                </div>
            </div>
            <div class="submit-container">
                <input type="submit" value="Consultar">
            </div>
        </form>
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th scope="col">ID Pago</th>
                    <th scope="col">ID Usuario</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora de Entrada</th>
                    <th scope="col">Hora de Salida</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for pagado in datos %}
                <tr>
                    <td>{{ pagado[0] }}</td>
                    <td>{{ pagado[1] }}</td>
                    <td>{{ pagado[2] }}</td>
                    <td>{{ pagado[3] }}</td>
                    <td>{{ pagado[4] }}</td>
                    <td>{{ pagado[5] }}</td>
                    <td>{{ pagado[6] }}</td>
                    <td>
                        <form action="{{ url_for('update1_spagado', id_usuario=pagado[0]) }}" method="POST">
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('delete_spagado', id_usuario=pagado[0]) }}" method="POST">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="8">No se encontraron Usuarios.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="submit-sueldo">
            <input type="submit" value="Calcular sueldo">
        </div>
    </div>
    {% endblock %}

{% endblock %}