{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    <title>
        {% block title %}
            Sistema Web para Ciber Papaleria "Hakkunna Matata"
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/style/style.css">
 <!-- <link rel="stylesheet" href=""> // aqui puedo conectar mi hoja de estilo -->
{% endblock %}

{% block body %}
<!-- bARRA DE NAVEGACIÓN Y MENU -->
    {% block navbar %}
    {% include 'banner.html' %}
    {% include 'navigation.html' %}
    {% endblock %}

    {% block content %}
    <div class="caja">
        <h2>Sueldos Pagados </h2>
        <div class="camposconsulta">
            <div class="campo">
                <p>ID Pago</p>
                <input type="text" name="IDUsuario" placeholder="MariPereH19Tr">
            </div>
            <div class="campo">
                <p>ID Usuario</p>
                <input type="text" name="IDUsuario" placeholder="MariPereH19Tr">
            </div>
            <div class="campo">
                <p>Fecha entrada</p>
                <input type="date" id="e-fechaentrada" name="e-fechaentrada">
            </div>
            <div class="campo">
                <p>Fecha salida</p>
                <input type="date" id="e-fechasalida" name="e-fechasalida">
            </div>
        </div>
        <div class="submit-container">
            <input type="submit" value="Consultar">
        </div>
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th scope="col">ID Pago</th>
                    <th scope="col">ID Usuario</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora de Entrada</th>
                    <th scope="col">Hora de Salida</th>
                    <th scope="col">Veces Cancelado</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for pagado in datos %}
                <tr>
                    <td>{{ pagado[0] }}</td>
                    <td>{{ pagado[1] }}</td>
                    <td>{{ pagado[2] }}</td>
                    <td>{{ pagado[3] }}</td>
                    <td>{{ pagado[4] }}</td>
                    <td>{{ pagado[5] }}</td>
                    <td>{{ pagado[6] }}</td>
                    <td>
                        <form action="{{ url_for('update1_usuario', id_usuario=pagado[0]) }}" method="POST">
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </form>
                    </td>
                    <td>
                        <form action="#" method="POST">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6">No se encontraron Usuarios.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    <div class="submit-sueldo">
        <input type="submit" value="Calcular sueldo">
    </div>
    </div>
    {% endblock %}

{% endblock %}